{% extends 'base.html' %}
{% load static %}
{% block title %}投票アプリ | 投票選択{% endblock %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% block contents %}
<div class="container">
    <div class="my-div-style col-12 col-md-8 mx-auto"> <!-- 幅を少し広くして中央寄せ -->
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            <fieldset>
                <legend><h1 class="text-center">{{ question.question_text }}</h1></legend>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                {% endfor %}
            </fieldset>
            <input type="submit" value="投票">
        </form>
    </div>
</div>
{% endblock %}
